<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <p>Estimado/a Presidente/a Comisión de Evaluación:</p>
            <p>Por este medio se le notifica que se han todas las evaluaciones esperadas para el proyecto con código [codigo], por lo que puede realizar la revisión de los resultados de la evaluación.</p>
            <p>Puede acceder al sistema Innova utilizando su correo electr&oacute;nico como nombre de usuario en la direcci&oacute;n <a href="[url]">Innova</a></p>
        </div>
    </div>
</body>
</html>