<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <p>Estimado Formulador:</p>
            <p>Por este medio se le invita a formular un problema de solución para el caso [codigo].</p>
            <p>Puede acceder al sistema Innova utilizando su correo electr&oacute;nico como nombre de usuario en la direcci&oacute;n <a href="[url]">Innova</a></p>
        </div>
    </div>
</body>
</html>