<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <p>Estimado Formulador:</p>
            <p>Se ha recibido un potencial proyecto de inversión con código [codigo].</p>
            <p>Le invitamos a que pueda presentar sus propuestas de solución.</p>
            <p>Puede acceder al sistema Innova utilizando su correo electr&oacute;nico como nombre de usuario en la direcci&oacute;n <a href="[url]">Innova</a></p>
        </div>
    </div>
</body>
</html>