<!-- menu del Beneficiario -->
<li class="nav-item ">
    <a class="nav-link" href="BeneficiarioRegistrarProblema">
        <i class="fas fa-fw fa-eye"></i>
        <span>Registrar Problema</span>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="CasosConsultaPropuestas">
        <i class="fas fa-fw fa-eye"></i>
        <span>Consultar Propuestas</span>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="FormulacionConsultarIniciativa">
        <i class="fas fa-fw fa-users"></i>
        <span>Consultar Iniciativas</span>
    </a>
</li>
<hr class="sidebar-divider d-none d-md-block">
<div class="text-center d-none d-md-inline">
    <a class="btn rounded-circle border-0" id="sidebarToggle"></a>
</div>
<!-- fin del menu del coordinador -->